<div class="center" style="margin-top: 30px;">
	<%= image_tag "accommodations.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Accommodations" %>
	<hr width="25%">
	<br />
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="line-height: 2.0;">
			We have booked a block of rooms at the Hilton Orrington, which about a block away from the wedding venue. When booking, please let them know you are part of the D'Arcy-Nguyen wedding block.
		</div>
	</div>
	<br />
	<%= image_tag "hiltonorrington.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Hilton Orrington" %>
	<br />
	<div class="party_name">HILTON ORRINGTON</div>
	<div class="party_description">
		1710 Orrington Avenue<br />
		Evanston, IL 60201<br />
		847-866-8700<br />
		<%= link_to "www.hotelorrington.com", "http://www.hotelorrington.com/", :style => "color: #333333; text-decoration: underline;" %>
	</div>

</div>