<div class="center" style="margin-top: 30px;">
	<%= image_tag "gifts.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Registry" %>
	<hr width="25%">
	<br />
	<div class="row">
		<div class="col-md-6 col-md-offset-3" style="line-height: 2.0;">
			Details to come.
			<!--While gifts are certainly appreciated, the best present we could ask for is simply your presence on our wedding day - particularly those who braved cramped plane seats and have traveled to attend, we recognize you have already made a large expenditure and we thank you for that!<br /><br />
			Our tiny Manhattan apartment unfortunately cannot accommodate standard registry items but if you would like to contribute to our honeymoon fund - via check or electronic payment methods such as Venmo, Square Cash, PayPal, Chase QuickPay, etc. (pnguyen06@gmail.com) - we would be very appreciative.-->
		</div>
	</div>
</div>