<div class="jumbotron" style="color: #fff;">
	<%= image_tag "weregettingmarried.png", :class => "img-responsive", :style => "margin: 0 auto; margin-top: 150px;", :title => "We're Getting Married" %>
	<div class="center cabin" style="letter-spacing: 2px; margin-top: 15px;">
		July 16, 2016 / EVANSTON, IL
	</div>
</div>