<div class="jumbotron">
	<div class="container center">
		<%= image_tag "buffalo_icon_pete.png", class: "img-responsive", :style => "margin: 0 auto; max-width: 50%;" %>
		<br><br><br><br>
		<div class="row">
			<div class="col-md-10">
				<h1 class="cabin display-2" style="color: #221427; line-height: 1.2"><font style="color: #a7d1e9; background-color: #fa6c6a;">Buffalo</font> <font style="color: #f8ea9c; background-color: #fa6c6a;">Buffalo</font> is a unique experience for those able to seek the answer by the end of today.</h1>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron" style="background-color: #fa6c6a;">
	<div class="container center">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<h1 class="cabin display-4" style="color: #221427; line-height: 1.2">"We first hear of the bison from Cortez and his followers in 1521. <font style="color: #a7d1e9;">Mo</font>n<font style="color: #a7d1e9;">t</font>e<font style="color: #a7d1e9;">zu</font>m<font style="color: #a7d1e9;">a</font> had one in a zoological garden, the specimen, in all probability, having been caught in Coahuila. As to their numbers, they were like the sands of the seashore, and the <font style="color: #a7d1e9;">account</font>s given by those who hunted them 20 or 30 years ago, today seem like vagaries of a disordered imagination.
				<br><br>Mr. Hornaday, who has hunted in South and Central Africa, where game is remarkably plentiful, states that the bison of this country previous to 1870 <font style="color: #a7d1e9;">exce</font>eded, in all probability, all the African game of every kind. An Army officer in service on the plains in 1867 stated to the writer that on one occasion he was surrounded by buffaloes, and that from the top of a small hill he could see nothing but a black mass of their bodies. It was impossible to estimate their numbers, and the party were in great fear lest they should be caught in a stampede, the rush being irresistible."</h1>
			</div>
		</div>
	</div>
</div>