<div class="center" style="margin-top: 30px;">
	<%= image_tag "photos.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Photos" %>
	<hr width="25%">
	<br />

	<br /><br /><br /><br /><br /><br /><br /><br />
</div>