<div class="center" style="margin-top: 30px;">
	<%= image_tag "ourstory.png", :class => "img-responsive", :style => "margin: 0 auto;", :title => "Our Story" %>
	<hr width="25%">
	<br />
	<div class="row">
		<div class="col-md-4">

		</div>
		<div class="col-md-4">

		</div>
		<div class="col-md-4">

		</div>
	
</div>