@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600');
@import url('//fonts.googleapis.com/css?family=Cabin:600');

$navbar-default-bg: #ffffff;
$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


@import 'bootstrap';

* {
	border-radius: 0 !important;
}

body { 
	padding-top: 50px; 
}

.center {
	text-align: center;
}

.cabin {
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

.jumbotron {
	position: relative;
	background: url("lobster.gif") top center;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
  overflow: hidden;
  min-height: 550px;
}

.navbar-nav {
	font-family: 'Cabin', sans-serif;
	letter-spacing: 2px;	
}