<div class="center" style="color: #BDBDBD; margin-bottom: 10px; margin-top: 40px;">
	#WeNeedAWeddingHashtag
	<br /><br />
	<small><%= link_to "Made", "creation.txt", :style => "color: #BDBDBD; text-decoration: underline;" %> by Phil</small>
</div>